@import "./fishes.css";
@import "./tips.css";
@import "./quotes.css";
@import "./locations.css";

body {
    font-family: 'Kiwi Maru' , serif;
}

.container {
    display: flex;
}

.header {
    text-align: center;
}

.flex-container-left {
    flex: 3;
}

.tips {
    flex: 1;
    margin-left: 5rem;
    padding: 0 2rem;
}

.bordered {
    /* border: 1px dotted goldenrod; */
}

.bottom-space {
    margin-bottom: 3rem;
}